[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pylint = "*"
pytest = "*"


[packages]

click = "*"
hvac = "*"
colorama = "*"
python-dotenv = "*"
pyyaml = "*"
click-default-group = "*"


[requires]

python_version = "3.6"
